.bg-image{
    background-image: url("https://wallpapers.com/images/featured/profile-background-b5vedq7mz8mjvslu.jpg");
    opacity: 0.6;
    background-color: #8b26d4;
    background-size: cover;
    height: 100vh;
}

